html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#editor {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/*编辑器*/
.toastui-editor-md-container .ProseMirror {
  font-size: 16px;
}

/*预览区*/
.toastui-editor-contents {
  font-size: 16px;
}