/node_modules/
/release/
/build/
/dist/
/out/
/app-builds/
/win-unpacked/
/mas-unpacked/
/linux-unpacked/
/mac/
*.app/
*.exe
*.dmg
*.AppImage
*.snap
*.deb
*.rpm
*.zip
*.tar.gz
*.nupkg
*.nsis
/.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
.env.*
!.env.example
!.env.template
.yarn/cache
.yarn/unplugged
.yarn/build-state
.pnp.*
/coverage/
/.nyc_output/
/lib-cov/
jest.config.js.map
*.tsbuildinfo
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*~
*.swp
*.swo